.login-button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 30px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  border-bottom: 3px solid rgb(174, 171, 171);
  gap: 10px;
  padding-bottom: 3px;
}

.search-area input {
  border: none;
  margin-left: 8px;
  outline: none;
}
